<!-- <!DOCTYPE html>
<html>
  <head> -->
    <!-- <meta charset="utf-8">
    <title>Road Radar</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkaQkkgEx6ygKgvTfTiH8uj5t9ZVQgN6E&callback=initMap"></script>
    <script src="./partials/gmaps.js"></script> -->

  <!-- </head>
  <body>
    <header>
    <div class = 'text-center cold-md-8 '>
      <h1> <span class = 'fa fa-lock'></span>Road Radar</h1>
      <a href= '/login' class = 'btn btn-default'>Login </a>
      <a href= '/signup' class = 'btn btn-default'>Signup </a>
      <hr>
    </div>
  </header> -->

    <!-- <div class ='input-form-div'> <% include ./partials/incident_input_form %> </div> -->
<% include ./partials/map  %>

<!--
  </body>
</html> -->
