<div class = 'text-center cold-md-8 col-md-offset-2'>
  <h1> <span class = 'fa fa-lock'></span>Road Radar</h1>
  <h3> Log in or Sign up </h3>
<<<<<<< HEAD
  <a href= '/login' class = 'btn btn-default'> Local Login </a>
  <a href= '/signup' class = 'btn btn-default'> Local Signup </a>
=======
  <a href= '/login' class = 'btn btn-default'>Login </a>
  <a href= '/signup' class = 'btn btn-default'>Signup </a>
>>>>>>> b66cdc6e008ab9447072f58eac15a019b002175b
  <hr>
</div>
