<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkaQkkgEx6ygKgvTfTiH8uj5t9ZVQgN6E&callback=initMap"></script>
    <script src="js/gmaps.js"></script>

    <style>
      #map {
        height: 400px;
        width: 80%;
       }

      #map_container{
        height: 450px;
        width: 80%;
        border: 1px solid black;
        display: block;
      }

      #form_container{
        height: 450px;
        width: 80%;
        border: 1px solid black;
        display: none;
      }

    </style>
  </head>

  <body>
    <header>
        <h1> <span class = 'fa fa-lock'></span>Road Radar</h1>
        <% if(login) { %>
        <a href= '/logout'>Logout </a>
        <% } else {  %>
        <a href= '/login'>Login </a>
        <a href= '/signup'>Signup </a>
        <% }  %>
        <hr>
    </header>

    <div id="form_container">
      <h5>Input Form:</h5>
      <form id="oForm">
        <select size="1" id="incident_types" name="types">
          <option value=""> - Select - </option>
          <option value="Construction">Construction</option>
          <option value="Speed_Trap">Speed Trap</option>
          <option value="Stalled_Car">Stalled Car</option>
          <option value="Broken_Signal">Broken Signal</option>
          <option value="Accident">Accident</option>
        </select>
      </form>
      <input type="text" id="address" name="address" placeholder="address"><br>
      <input type="text" id="comments" name="comments" placeholder="comments"><br>
      <input type="submit" class="btn" id="submit" value="Add Marker"><br><br>
    </div>

    <div id = 'map_container'>
      <% if(login) { %>
      <button id="post_button"> Post </button>
      <% } %>
      <div id="map"></div>
    </div>


  <script>

  // default location that map centers on at start-up
     var la_default = {lat: 34.0073707, lng: -118.3511962};

     // an array of locations that i'm trying to loop through
     var incidents = [
       {incident_type: "broken signal", user: "Bob Jones", time: "21:13", comments: "Signal is flashing yellow in both directions. Seems dangerous.", lat: 34.0129665, lng: -118.49521019999997},

       {incident_type: "road construction", user: "Gunther McClelon", time: "17:33", comments: "Right lane is closed to fix a water main. Traffic is moving, but slow.", lat: 34.0581136, lng: -118.41948809999997},

       {incident_type: "accident", user: "Waneesha Parker", time: "8:15", comments: "Mini Cooper got rear ended by a dump truck.", lat: 34.072164, lng: -118.35838100000001},

       {incident_type: "speed trap", user: "Bruce Jenner", time: "18:46", comments: "Police car is hiding in the bushes", lat: 34.0544694, lng: -118.2505582},

       {incident_type: "stalled car", user: "Cornelius James III", time: "10:15", comments: "Pick-up truck is stalled in the middle lane", lat: 33.9415889, lng: -118.40852999999998}
     ]
    function initMap() {

      // sets up map with intial centered location and zoom level
      var map = new GMaps({
        div: "#map",
        zoom: 11,
        center: la_default
      });

      // adds marker to map for to each incident location
      incidents.forEach(function(inc, i){
        map.addMarker({
          lat: inc.lat,
          lng: inc.lng,
          title: i,
          map: map,
          infoWindow: {
            content: `<p>This is the description of incident # ${i + 1}: <br><br>
            Type: ${incidents[i].incident_type} <br><br>
            User: ${incidents[i].user} <br><br>
            Time: ${incidents[i].time} <br><br>
            Additional Info: ${incidents[i].comments} <br><br>
            Upvote Downvote Delete
            </p>`
          }
        })
      })
    }

    var $submit = $("#submit")
    var $post_button = $("#post_button")

    $submit.click(function() {
      console.log("submit button clicked!")
      $('#form_container').css('display', 'none')
      $('#map_container').css('display', 'block')
      addressClickHandler()
    })

    $post_button.click(function() {
      console.log("post button clicked!")
      $('#form_container').css('display', 'block')
      $('#map_container').css('display', 'none')
      // console.log( "Handler for .click() called." );
      // addressClickHandler()
    })


    function addressClickHandler (){

      var incident_form = $("#incident_types")
      var dropdown = document.querySelector('#oForm').elements["types"]
      var selected_index = dropdown.selectedIndex

      if(selected_index > 0){
         var incident_type = dropdown.options[selected_index].text
      }

      // var incident_type = $('#incident_type').val()
      var comments = $('#comments').val()
      var latlng

      GMaps.geocode({
        address: $('#address').val(),
        callback: function(results, status) {
          if (status == 'OK') {
            latlng = results[0].geometry.location;
            console.log(latlng.lat())
            console.log(latlng.lng())
            // var coord = {lat: latlng.lat(), lng: latlng.lng()}
            // return coord
          }
        }
      })

    setTimeout(function(){
      console.log(latlng)

      var incident_params = {
        "incident_type": incident_type,
        "comments": comments,
        "lat": latlng.lat(),
        "lng": latlng.lng()
      }

      console.log(incident_params)

      var requestSettings = {
        method: 'Post',
        data: incident_params,
        url: '/users/:id/posts',
        contentType: 'application/json'
      }

      function cb(d) {
        console.log(d)
        initMap()
      }

      $.ajax({requestSettings}).done(cb)

    }

    ,500)
    }

  </script>
  </body>
</html>
