<div class = 'text-center cold-md-8 col-md-offset-2'>
  <h1> <span class = 'fa fa-lock'></span>Road Radar</h1>
  <h3> Log in or Sign up </h3>
  <a href= '/login' class = 'btn btn-default'>Login </a>
  <a href= '/signup' class = 'btn btn-default'>Signup </a>
  <hr>
</div>
