<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Road Radar</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkaQkkgEx6ygKgvTfTiH8uj5t9ZVQgN6E&callback=initMap"></script>
      <script src="js/gmaps.js"></script>

  </head>
  <body>
    <header>
    <div class = 'text-center cold-md-8 '>
      <h1> <span class = 'fa fa-lock'></span>Road Radar</h1>
      <a href= '/login' class = 'btn btn-default'>Login </a>
      <a href= '/signup' class = 'btn btn-default'>Signup </a>
      <hr>
    </div>
  </header>
      <div class= 'container'>
        <%- body %>
      </div>
  </body>
</html> -->
