<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
</head>

<style>
.topnav {
  background-color: #333;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
}

.rightnav{
  float: right;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover{
  background-color: #005f5f;
}

#login-container{
  width: 800px;
  padding: 50px;
  margin: auto;
}
</style>


<div class = 'topnav'>
    <a href= '/'> Road Radar </a>
</div>

<div id = 'login-container'>
<h1>Login</h1>

<% if(message.length > 0) {  %>
  <div class = 'alert alert-danger'> <%= message %></div>
  <% } %>

  <form action = '/login' method='post'>
    <div class = 'form-group'>
      <label>Email</label>
      <input type = 'text' class = 'form-control' name = 'email'>
    </div>
    <div class = 'form-group'>
      <label>Password</label>
      <input type = 'password' class = 'form-control' name = 'password'>
    </div>

    <button type = 'submit' class= 'btn btn-info-lg'> Login </button>
  </form>
</div>
